@import 'tailwindcss';
@import "tw-animate-css";

@layer base {
  * {
    @apply border-border
  }
}

:root {
  --background: oklch(96.8% 0.007 247.896);
  --foreground: oklch(43.2% 0.095 166.913);
  --card: oklch(86.9% 0.022 252.894);
  --card-foreground: oklch(12.9% 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(20.8% 0.042 265.755);
  --primary: oklch(27.9% 0.041 260.031);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(44.6% 0.043 257.281);
  --secondary-foreground: oklch(0.98 0 0);
  --muted: oklch(0.95 0.01 240);
  --muted-foreground: oklch(0.6 0.02 240);
  --accent: oklch(69.6% 0.17 162.48);
  --accent-foreground: oklch(0.98 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.9 0.01 240);
  --input: oklch(92.9% 0.013 255.508);
  --ring: oklch(70.4% 0.04 256.788);
  --radius: 0.75rem;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) * 0.5);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) * 1.5);
  --radius-xl: calc(var(--radius) * 2);
  --radius-2xl: calc(var(--radius) * 3);
  --radius-full: 9999px;

  --font-inter: 'Inter', system-ui, sans-serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-[family-name:var(--font-inter)];
  }

  h1 {
    @apply text-2xl font-bold tracking-tight;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  h3 {
    @apply text-base font-medium;
  }
}